USE [master]
GO
/****** Object:  Database [YemekSepetiDb]    Script Date: 28.12.2025 15:02:05 ******/
CREATE DATABASE [YemekSepetiDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YemekSepetiDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\YemekSepetiDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YemekSepetiDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\YemekSepetiDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YemekSepetiDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YemekSepetiDb]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RestoranAktifYemekSayisi]    Script Date: 28.12.2025 15:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--restoranda satılan aktif yemek sayısını veren fonksiyon
create function [dbo].[fn_RestoranAktifYemekSayisi]
(
    @RestoranID int  -- hangi restoranın yemekleri sayılacak
)
returns int -- aktif yemek sayısı
as
begin
    -- Yemek sayısını tutmak için değişken
    declare @YemekSayisi int

    --yemekleri sayıyoruz
    select @YemekSayisi = COUNT(*)
    from tbl_Yemekler
    where RestoranID = @RestoranID
      AND AktifMi = 1 -- satışı kapalı yemekler sayılmaz

    return @YemekSayisi -- Hesaplanan yemek sayısını geri döndürüyoruz
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RestoranOrtalamaPuan]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Restoranın ortalama puanını hesaplayan fonksiyon
create function [dbo].[fn_RestoranOrtalamaPuan]
(
    @RestoranID int --hangi restoranın ortalaması hesaplanacak
)
returns decimal(3,2) --ortalama puanı ondalıklı döndürebilmek için
as
begin
    -- ortalama puanı tutmak için değişken
    declare @OrtalamaPuan decimal(3,2)

    -- aktif yorumların puan ortalamasını alıyoruz
    select @OrtalamaPuan = AVG(CAST(Puan as decimal(3,2)))
    from tbl_Yorumlar
    where RestoranID = @RestoranID
      AND AktifMi = 1 --silinmiş yorumlar alınmasın diye

     -- hesaplanan ortalama değeri geri döndürüyoruz
    return isnull(@OrtalamaPuan,0)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RestoranYorumSayisi]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--restorana yapılan yorum sayısını veren fonksiyon
create function [dbo].[fn_RestoranYorumSayisi]
(
    @RestoranID int -- yorum sayısı hesaplanacak restoran
)
returns int -- toplam yorum sayısı
as
begin
    -- Yorum sayısını tutmak için değişken
    declare @YorumSayisi int

    -- Aktif yorumları sayıyoruz
    select @YorumSayisi = COUNT(*)
    from tbl_Yorumlar
    where RestoranID = @RestoranID
      AND AktifMi = 1 -- silinen yorumlar dahil edilmez

    return @YorumSayisi -- yorum sayısını geri döndürüyoruz
end
GO
/****** Object:  Table [dbo].[tbl_Restoranlar]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Restoranlar](
	[RestoranID] [int] IDENTITY(1,1) NOT NULL,
	[RestoranAdi] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[MinTutar] [decimal](10, 2) NOT NULL,
	[SahipID] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RestoranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AnaSayfaRestoranOzet]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ana sayfada kullanılacak restoran özet bilgilerini
-- raporlama amacıyla döndüren view
CREATE view [dbo].[vw_AnaSayfaRestoranOzet]
as
select
    --restoranın temel bilgileri
    r.RestoranID,
    r.RestoranAdi,
    r.MinTutar,
    r.Aciklama,

    --restoranın ortalama puanını hesaplayan fonksiyon
    dbo.fn_RestoranOrtalamaPuan(r.RestoranID) as OrtalamaPuan,

    --restorana yapılan toplam yorum sayısını hesaplayan fonksiyon
    dbo.fn_RestoranYorumSayisi(r.RestoranID) as YorumSayisi,

    --restoranda aktif olarak satılan yemek sayısını hesaplayan fonksiyon
    dbo.fn_RestoranAktifYemekSayisi(r.RestoranID) as AktifYemekSayisi

from tbl_Restoranlar r
where r.AktifMi = 1 -- sadece aktif restoranlar listelensin
GO
/****** Object:  Table [dbo].[auth_group]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_group_permissions]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group_permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_permission]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[content_type_id] [int] NOT NULL,
	[codename] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[last_login] [datetimeoffset](7) NULL,
	[is_superuser] [bit] NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[first_name] [nvarchar](150) NOT NULL,
	[last_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[is_staff] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[date_joined] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_groups]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_groups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[group_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_user_permissions]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_user_permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_admin_log]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_admin_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_time] [datetimeoffset](7) NOT NULL,
	[object_id] [nvarchar](max) NULL,
	[object_repr] [nvarchar](200) NOT NULL,
	[action_flag] [smallint] NOT NULL,
	[change_message] [nvarchar](max) NOT NULL,
	[content_type_id] [int] NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_content_type]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_content_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[app_label] [nvarchar](100) NOT NULL,
	[model] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_migrations]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_migrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[app] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[applied] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_session]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_session](
	[session_key] [nvarchar](40) NOT NULL,
	[session_data] [nvarchar](max) NOT NULL,
	[expire_date] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Kategoriler]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](50) NOT NULL,
	[AktifMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Kullanicilar]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Eposta] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[TelefonNo] [nvarchar](11) NULL,
	[Adres] [nvarchar](300) NULL,
	[Rol] [int] NOT NULL,
	[KayitTarihi] [datetime] NULL,
	[AktifMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_SiparisDetay]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SiparisDetay](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NOT NULL,
	[YemekID] [int] NOT NULL,
	[Adet] [int] NOT NULL,
	[BirimFiyat] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Siparisler]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Siparisler](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime] NULL,
	[ToplamTutar] [decimal](10, 2) NULL,
	[Durum] [nvarchar](50) NULL,
	[MusteriID] [int] NOT NULL,
	[RestoranID] [int] NOT NULL,
	[TeslimTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Yemekler]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Yemekler](
	[YemekID] [int] IDENTITY(1,1) NOT NULL,
	[YemekAdi] [nvarchar](100) NOT NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
	[Icerik] [nvarchar](250) NULL,
	[AktifMi] [bit] NULL,
	[RestoranID] [int] NOT NULL,
	[KategoriID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[YemekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Yorumlar]    Script Date: 28.12.2025 15:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Yorumlar](
	[YorumID] [int] IDENTITY(1,1) NOT NULL,
	[YorumMetni] [nvarchar](500) NULL,
	[Puan] [int] NULL,
	[Tarih] [datetime] NULL,
	[MusteriID] [int] NOT NULL,
	[RestoranID] [int] NOT NULL,
	[SiparisID] [int] NOT NULL,
	[AktifMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[YorumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[auth_permission] ON 

INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (1, N'Can add log entry', 1, N'add_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (2, N'Can change log entry', 1, N'change_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (3, N'Can delete log entry', 1, N'delete_logentry')
SET IDENTITY_INSERT [dbo].[auth_permission] OFF
GO
SET IDENTITY_INSERT [dbo].[django_content_type] ON 

INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (1, N'admin', N'logentry')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (3, N'auth', N'group')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (2, N'auth', N'permission')
SET IDENTITY_INSERT [dbo].[django_content_type] OFF
GO
SET IDENTITY_INSERT [dbo].[django_migrations] ON 

INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (1, N'contenttypes', N'0001_initial', CAST(N'2025-12-27T13:28:55.6862690+00:00' AS DateTimeOffset))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (2, N'auth', N'0001_initial', CAST(N'2025-12-27T13:28:55.7214640+00:00' AS DateTimeOffset))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (3, N'admin', N'0001_initial', CAST(N'2025-12-27T13:28:55.7318650+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[django_migrations] OFF
GO
INSERT [dbo].[django_session] ([session_key], [session_data], [expire_date]) VALUES (N'l6c46snaynyy0usb86gdr4lp4o5dm4nu', N'eyJrdWxsYW5pY2lfaWQiOjMsImFkc295YWQiOiJGYWRpbWUgVWx1ZGFcdTAxMWYiLCJyb2wiOjF9:1vZmOA:kDHCNL2CbWeWYBaZoHmI0g63g30YLP26YUlP8PZJGAs', CAST(N'2026-01-11T08:44:34.4130860+00:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[tbl_Kategoriler] ON 

INSERT [dbo].[tbl_Kategoriler] ([KategoriID], [KategoriAdi], [AktifMi]) VALUES (1, N'Pizza', 1)
INSERT [dbo].[tbl_Kategoriler] ([KategoriID], [KategoriAdi], [AktifMi]) VALUES (2, N'Kebap', 1)
INSERT [dbo].[tbl_Kategoriler] ([KategoriID], [KategoriAdi], [AktifMi]) VALUES (3, N'Burger', 1)
SET IDENTITY_INSERT [dbo].[tbl_Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Kullanicilar] ON 

INSERT [dbo].[tbl_Kullanicilar] ([KullaniciID], [AdSoyad], [Eposta], [Sifre], [TelefonNo], [Adres], [Rol], [KayitTarihi], [AktifMi]) VALUES (1, N'Test Kullanıcı', N'test@test.com', N'1234', N'05000000000', N'test adres', 3, CAST(N'2025-12-15T22:00:40.630' AS DateTime), 1)
INSERT [dbo].[tbl_Kullanicilar] ([KullaniciID], [AdSoyad], [Eposta], [Sifre], [TelefonNo], [Adres], [Rol], [KayitTarihi], [AktifMi]) VALUES (2, N'ayse akın', N'akin@gmail.com', N'akinayse', N'5648367457', N'Erzurum/Palandöken mor sokak / Palandöken / Erzurum', 3, CAST(N'2025-12-17T20:09:41.460' AS DateTime), 1)
INSERT [dbo].[tbl_Kullanicilar] ([KullaniciID], [AdSoyad], [Eposta], [Sifre], [TelefonNo], [Adres], [Rol], [KayitTarihi], [AktifMi]) VALUES (3, N'Fadime Uludağ', N'fadime@gmail.com', N'fadime', N'5648367458', N'erzurum palandöken / Palandöken / Erzurum', 1, CAST(N'2025-12-19T18:51:10.513' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tbl_Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Restoranlar] ON 

INSERT [dbo].[tbl_Restoranlar] ([RestoranID], [RestoranAdi], [Aciklama], [MinTutar], [SahipID], [AktifMi]) VALUES (1, N'Lezzet Durağı', N'Ev Yemekleri', CAST(90.00 AS Decimal(10, 2)), 4, 1)
INSERT [dbo].[tbl_Restoranlar] ([RestoranID], [RestoranAdi], [Aciklama], [MinTutar], [SahipID], [AktifMi]) VALUES (2, N'Anadolu Sofrası', N'Ev Yemekleri', CAST(100.00 AS Decimal(10, 2)), 4, 1)
INSERT [dbo].[tbl_Restoranlar] ([RestoranID], [RestoranAdi], [Aciklama], [MinTutar], [SahipID], [AktifMi]) VALUES (3, N'Usta Kebapçı', N'Kebap Çeşitleri', CAST(150.00 AS Decimal(10, 2)), 4, 1)
SET IDENTITY_INSERT [dbo].[tbl_Restoranlar] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_SiparisDetay] ON 

INSERT [dbo].[tbl_SiparisDetay] ([DetayID], [SiparisID], [YemekID], [Adet], [BirimFiyat]) VALUES (1, 1, 5, 1, CAST(40.00 AS Decimal(10, 2)))
INSERT [dbo].[tbl_SiparisDetay] ([DetayID], [SiparisID], [YemekID], [Adet], [BirimFiyat]) VALUES (2, 1, 6, 1, CAST(30.00 AS Decimal(10, 2)))
INSERT [dbo].[tbl_SiparisDetay] ([DetayID], [SiparisID], [YemekID], [Adet], [BirimFiyat]) VALUES (3, 2, 4, 1, CAST(95.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[tbl_SiparisDetay] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Siparisler] ON 

INSERT [dbo].[tbl_Siparisler] ([SiparisID], [Tarih], [ToplamTutar], [Durum], [MusteriID], [RestoranID], [TeslimTarihi]) VALUES (1, CAST(N'2025-12-21T11:38:55.563' AS DateTime), CAST(70.00 AS Decimal(10, 2)), N'İptal', 2, 2, NULL)
INSERT [dbo].[tbl_Siparisler] ([SiparisID], [Tarih], [ToplamTutar], [Durum], [MusteriID], [RestoranID], [TeslimTarihi]) VALUES (2, CAST(N'2025-12-21T11:39:09.083' AS DateTime), CAST(95.00 AS Decimal(10, 2)), N'Teslim Edildi', 2, 2, CAST(N'2025-12-27T18:55:36.663' AS DateTime))
INSERT [dbo].[tbl_Siparisler] ([SiparisID], [Tarih], [ToplamTutar], [Durum], [MusteriID], [RestoranID], [TeslimTarihi]) VALUES (3, CAST(N'2025-12-21T15:08:26.197' AS DateTime), CAST(95.00 AS Decimal(10, 2)), N'İptal', 2, 2, NULL)
SET IDENTITY_INSERT [dbo].[tbl_Siparisler] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Yemekler] ON 

INSERT [dbo].[tbl_Yemekler] ([YemekID], [YemekAdi], [Fiyat], [Icerik], [AktifMi], [RestoranID], [KategoriID]) VALUES (1, N'ev köftesi', CAST(120.00 AS Decimal(10, 2)), N'pilavlı', 1, 1, 6)
INSERT [dbo].[tbl_Yemekler] ([YemekID], [YemekAdi], [Fiyat], [Icerik], [AktifMi], [RestoranID], [KategoriID]) VALUES (2, N'nohut', CAST(90.00 AS Decimal(10, 2)), N'sulu yemek', 1, 1, 6)
INSERT [dbo].[tbl_Yemekler] ([YemekID], [YemekAdi], [Fiyat], [Icerik], [AktifMi], [RestoranID], [KategoriID]) VALUES (3, N'ayran', CAST(25.00 AS Decimal(10, 2)), N'300ml', 1, 1, 5)
SET IDENTITY_INSERT [dbo].[tbl_Yemekler] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Yorumlar] ON 

INSERT [dbo].[tbl_Yorumlar] ([YorumID], [YorumMetni], [Puan], [Tarih], [MusteriID], [RestoranID], [SiparisID], [AktifMi]) VALUES (9, N'test yorum', 5, CAST(N'2025-12-24T23:23:23.473' AS DateTime), 1, 2, 5, 0)
INSERT [dbo].[tbl_Yorumlar] ([YorumID], [YorumMetni], [Puan], [Tarih], [MusteriID], [RestoranID], [SiparisID], [AktifMi]) VALUES (10, N'Pizzalar güzeldi', 4, CAST(N'2025-12-24T23:25:09.117' AS DateTime), 2, 4, 5, 0)
INSERT [dbo].[tbl_Yorumlar] ([YorumID], [YorumMetni], [Puan], [Tarih], [MusteriID], [RestoranID], [SiparisID], [AktifMi]) VALUES (15, N'Pizzalar güzeldi', 4, CAST(N'2025-12-25T01:16:32.410' AS DateTime), 2, 4, 5, 0)
SET IDENTITY_INSERT [dbo].[tbl_Yorumlar] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_group_name_a6ea08ec_uniq]    Script Date: 28.12.2025 15:02:06 ******/
ALTER TABLE [dbo].[auth_group] ADD  CONSTRAINT [auth_group_name_a6ea08ec_uniq] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_group_id_b120cbf9]    Script Date: 28.12.2025 15:02:06 ******/
CREATE NONCLUSTERED INDEX [auth_group_permissions_group_id_b120cbf9] ON [dbo].[auth_group_permissions]
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_group_id_permission_id_0cd325b0_uniq]    Script Date: 28.12.2025 15:02:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_group_permissions_group_id_permission_id_0cd325b0_uniq] ON [dbo].[auth_group_permissions]
(
	[group_id] ASC,
	[permission_id] ASC
)
WHERE ([group_id] IS NOT NULL AND [permission_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_permission_id_84c5c92e]    Script Date: 28.12.2025 15:02:06 ******/
CREATE NONCLUSTERED INDEX [auth_group_permissions_permission_id_84c5c92e] ON [dbo].[auth_group_permissions]
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_permission_content_type_id_2f476e4b]    Script Date: 28.12.2025 15:02:06 ******/
CREATE NONCLUSTERED INDEX [auth_permission_content_type_id_2f476e4b] ON [dbo].[auth_permission]
(
	[content_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_permission_content_type_id_codename_01ab375a_uniq]    Script Date: 28.12.2025 15:02:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_permission_content_type_id_codename_01ab375a_uniq] ON [dbo].[auth_permission]
(
	[content_type_id] ASC,
	[codename] ASC
)
WHERE ([content_type_id] IS NOT NULL AND [codename] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_user_username_6821ab7c_uniq]    Script Date: 28.12.2025 15:02:06 ******/
ALTER TABLE [dbo].[auth_user] ADD  CONSTRAINT [auth_user_username_6821ab7c_uniq] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_groups_group_id_97559544]    Script Date: 28.12.2025 15:02:06 ******/
CREATE NONCLUSTERED INDEX [auth_user_groups_group_id_97559544] ON [dbo].[auth_user_groups]
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_groups_user_id_6a12ed8b]    Script Date: 28.12.2025 15:02:06 ******/
CREATE NONCLUSTERED INDEX [auth_user_groups_user_id_6a12ed8b] ON [dbo].[auth_user_groups]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_groups_user_id_group_id_94350c0c_uniq]    Script Date: 28.12.2025 15:02:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_user_groups_user_id_group_id_94350c0c_uniq] ON [dbo].[auth_user_groups]
(
	[user_id] ASC,
	[group_id] ASC
)
WHERE ([user_id] IS NOT NULL AND [group_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_user_permissions_permission_id_1fbb5f2c]    Script Date: 28.12.2025 15:02:06 ******/
CREATE NONCLUSTERED INDEX [auth_user_user_permissions_permission_id_1fbb5f2c] ON [dbo].[auth_user_user_permissions]
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_user_permissions_user_id_a95ead1b]    Script Date: 28.12.2025 15:02:06 ******/
CREATE NONCLUSTERED INDEX [auth_user_user_permissions_user_id_a95ead1b] ON [dbo].[auth_user_user_permissions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_user_permissions_user_id_permission_id_14a6b632_uniq]    Script Date: 28.12.2025 15:02:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_user_user_permissions_user_id_permission_id_14a6b632_uniq] ON [dbo].[auth_user_user_permissions]
(
	[user_id] ASC,
	[permission_id] ASC
)
WHERE ([user_id] IS NOT NULL AND [permission_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_admin_log_content_type_id_c4bce8eb]    Script Date: 28.12.2025 15:02:06 ******/
CREATE NONCLUSTERED INDEX [django_admin_log_content_type_id_c4bce8eb] ON [dbo].[django_admin_log]
(
	[content_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_admin_log_user_id_c564eba6]    Script Date: 28.12.2025 15:02:06 ******/
CREATE NONCLUSTERED INDEX [django_admin_log_user_id_c564eba6] ON [dbo].[django_admin_log]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [django_content_type_app_label_model_76bd3d3b_uniq]    Script Date: 28.12.2025 15:02:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [django_content_type_app_label_model_76bd3d3b_uniq] ON [dbo].[django_content_type]
(
	[app_label] ASC,
	[model] ASC
)
WHERE ([app_label] IS NOT NULL AND [model] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_session_expire_date_a5c62663]    Script Date: 28.12.2025 15:02:06 ******/
CREATE NONCLUSTERED INDEX [django_session_expire_date_a5c62663] ON [dbo].[django_session]
(
	[expire_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_Kull__03ABA391B14D6C57]    Script Date: 28.12.2025 15:02:06 ******/
ALTER TABLE [dbo].[tbl_Kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[Eposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Kategoriler] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[tbl_Kullanicilar] ADD  DEFAULT ((3)) FOR [Rol]
GO
ALTER TABLE [dbo].[tbl_Kullanicilar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[tbl_Kullanicilar] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[tbl_Restoranlar] ADD  DEFAULT ((0)) FOR [MinTutar]
GO
ALTER TABLE [dbo].[tbl_Restoranlar] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[tbl_Siparisler] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[tbl_Siparisler] ADD  DEFAULT ('Hazırlanıyor') FOR [Durum]
GO
ALTER TABLE [dbo].[tbl_Yemekler] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[tbl_Yorumlar] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[tbl_Yorumlar] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_permission]  WITH CHECK ADD  CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[auth_permission] CHECK CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id]
GO
ALTER TABLE [dbo].[tbl_Restoranlar]  WITH CHECK ADD FOREIGN KEY([SahipID])
REFERENCES [dbo].[tbl_Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[tbl_SiparisDetay]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[tbl_Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[tbl_SiparisDetay]  WITH CHECK ADD FOREIGN KEY([YemekID])
REFERENCES [dbo].[tbl_Yemekler] ([YemekID])
GO
ALTER TABLE [dbo].[tbl_Siparisler]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[tbl_Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[tbl_Siparisler]  WITH CHECK ADD FOREIGN KEY([RestoranID])
REFERENCES [dbo].[tbl_Restoranlar] ([RestoranID])
GO
ALTER TABLE [dbo].[tbl_Yemekler]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[tbl_Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[tbl_Yemekler]  WITH CHECK ADD FOREIGN KEY([RestoranID])
REFERENCES [dbo].[tbl_Restoranlar] ([RestoranID])
GO
ALTER TABLE [dbo].[tbl_Yorumlar]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[tbl_Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[tbl_Yorumlar]  WITH CHECK ADD FOREIGN KEY([RestoranID])
REFERENCES [dbo].[tbl_Restoranlar] ([RestoranID])
GO
ALTER TABLE [dbo].[tbl_Yorumlar]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[tbl_Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_action_flag_a8637d59_check] CHECK  (([action_flag]>=(0)))
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_action_flag_a8637d59_check]
GO
/****** Object:  StoredProcedure [dbo].[sp_AnaSayfaRestoranListele]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--anasayfada kategoriye göre restoranları listeleyen sp
CREATE procedure [dbo].[sp_AnaSayfaRestoranListele]
    @KategoriID int = null
as
begin
    select distinct
        v.RestoranID,
        v.RestoranAdi,
        v.MinTutar,
        v.Aciklama,
        v.OrtalamaPuan,
        v.YorumSayisi,
        v.AktifYemekSayisi
    --restoran özetlerini çekmek i.in yazdığım viewi kullanıyorum
    from vw_AnaSayfaRestoranOzet v 
    join tbl_Yemekler y 
        on v.RestoranID = y.RestoranID
    where y.AktifMi = 1
      and (
            @KategoriID IS NULL
            OR y.KategoriID = @KategoriID
          )
end
GO
/****** Object:  StoredProcedure [dbo].[sp_KategoriEkle]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Kategori tanımlama (tatlı,ev yemeği vs)
create procedure [dbo].[sp_KategoriEkle]
    @KategoriAdi nvarchar(50)
as
begin
    insert into tbl_Kategoriler(KategoriAdi,AktifMi)
    values(@KategoriAdi,1)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_KategoriSil]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Kategori Sil
create procedure [dbo].[sp_KategoriSil]
    @KategriID int
as
begin
    update tbl_Kategoriler
    set AktifMi=0
    where KategoriID=@KategriID
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciGiris]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Kullanıcı girişi
create procedure [dbo].[sp_KullaniciGiris]
    @Eposta nvarchar(100),
    @Sifre nvarchar(50)
as
begin
    select KullaniciID, AdSoyad, Rol 
    FROM tbl_Kullanicilar 
    WHERE Eposta = @Eposta 
    AND Sifre = @Sifre --E-posta ve şifre  kontrolü yapar.Eşleşirse ID, isim ve rol bilgisini döndürür.
    AND AktifMi = 1 -- Sadece aktif kullanıcılar,silinenler(AktifMi = 0) giriş yapamaz
end
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciKayit]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Kullanıcı Kaydı
--Kullanıcıdan bilgileri alsın ve veritabanına 'Müşteri' (Rol=3) olarak kaydetsin
create procedure [dbo].[sp_KullaniciKayit]
    
    --kayıtta lazım olacak veriler için dışardan gelen parametreler
    @AdSoyad nvarchar(100),
    @Eposta nvarchar(100),
    @Sifre nvarchar(50),
    @Telefon nvarchar(11),
    @Adres nvarchar(300)
as
begin
--gelen verileri tabloya ekliyoruz
    insert into tbl_Kullanicilar (AdSoyad,Eposta,Sifre,TelefonNo,Adres, Rol,AktifMi)
--rol alanına varsayılan olarak 3(müşteri) atıyoruz
    values (@AdSoyad,@Eposta,@Sifre,@Telefon,@Adres, 3,1)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciRolGuncelle]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--kullanıcıya kullanıcı ya da firma rolü verebilmek için
create procedure [dbo].[sp_KullaniciRolGuncelle]
    @KullaniciID int,
    @YeniRol int
as
begin
    UPDATE tbl_Kullanicilar
    set Rol = @YeniRol
    where KullaniciID = @KullaniciID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciSil]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[sp_KullaniciSil]
    @KullaniciID int
as 
begin
    update tbl_Kullanicilar SET AktifMi = 0 --kullanici silme işlemi,AktifMi kolonunu set ile 0 olarak update ederek siliyoruz
    where KullaniciID = @KullaniciID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RestoranAktifEt]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_RestoranAktifEt]
    @RestoranID int
as
begin
    update tbl_Restoranlar SET AktifMi = 1 --restoranı geri aktif etme
    where RestoranID = @RestoranID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RestoranEkle]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--yemek firması eklemek için kullanıyoruz
create procedure [dbo].[sp_RestoranEkle]
    @RestoranAdi nvarchar(100),
    @Aciklama nvarchar(max),
    @MinTutar decimal(10,2),
    @SahipID int --restoranı hangi kullanıcının yönettiği (foreign key)
as 
begin
--Restoranlar tablosuna veri ekliyoruz
    insert into tbl_Restoranlar (RestoranAdi, Aciklama, MinTutar, SahipID,AktifMi)
    VALUES (@RestoranAdi, @Aciklama, @MinTutar, @SahipID,1)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RestoranMenusuGetir]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--restorana tıklayınca menü getirir
create procedure [dbo].[sp_RestoranMenusuGetir]
    @RestoranID int 
as
begin
    select 
        y.YemekID, 
        y.YemekAdi, 
        y.Fiyat, 
        y.Icerik,
        k.KategoriAdi
    from tbl_Yemekler y
    left join tbl_Kategoriler k ON y.KategoriID=k.KategoriID
    where y.RestoranID = @RestoranID 
        AND y.AktifMi = 1 --sadece aktif yemekler sipariş verilebilsin
    ORDER BY k.KategoriAdi --kategorilere göre sıralı gelsin
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RestoranSil]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[sp_RestoranSil]
    @RestoranID int
as
begin
    update tbl_Restoranlar SET AktifMi = 0 --restoran silme işlemi
    where RestoranID = @RestoranID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RestoranYorumlariGetir]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--yorumları görüntülemek için
CREATE procedure [dbo].[sp_RestoranYorumlariGetir]
    @RestoranID int
as
begin
    select
        y.YorumID,          -- silme için gerekli
        y.MusteriID,
        k.AdSoyad,
        y.YorumMetni,
        y.Puan,
        y.Tarih      
    from tbl_Yorumlar y
    join tbl_Kullanicilar k on k.KullaniciID= y.MusteriID  -- Yazan kişinin ismini bulmak için birleştiriyoruz,yazan kişi kulanıcılar tablosunda yoksa o yorumu getirmiyoruz
    where y.RestoranID = @RestoranID --aynı restorana yapılan tüm yorumları listelemek için
      and y.AktifMi = 1 -- silinmiş yorumları getirme
    ORDER BY y.Tarih desc; -- en yeni yorum en başta gözüksün
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SiparisDurumGuncelle]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--sipariş durumunu güncelle
create procedure [dbo].[sp_SiparisDurumGuncelle]
    @SiparisID int,
    @YeniDurum nvarchar(50)
as
begin
    update tbl_Siparisler
    set Durum=@YeniDurum --siparişin durumunu yeni gelen durumla değiştiriyoruz
    where SiparisID=@SiparisID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SiparisOlustur]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        

--sepet onayi
create procedure [dbo].[sp_SiparisOlustur]
    @MusteriID int,
    @RestoranID int,
    @YeniSiparisID int output --@YeniSiparisID parametresi dışarıya sipraiş numarası verecek
as
begin
    insert into tbl_Siparisler (MusteriID, RestoranID, ToplamTutar, Durum, Tarih)
    values (@MusteriID, @RestoranID,0,'Hazırlanıyor', GETDATE());
    set @YeniSiparisID = SCOPE_IDENTITY(); --en son oluşturulan siparişin numarasını (ID) tutmak için SCOPE_IDENTITY() kullanıyoruz
end
GO
/****** Object:  StoredProcedure [dbo].[sp_YemekEkle]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Yemek ekleme(firma paneli)
-- Restoranın kendi menüsüne yeni bir ürün eklemesini sağlar.
create procedure [dbo].[sp_YemekEkle]
    @YemekAdi nvarchar(100),
    @Fiyat decimal(10,2),
    @Icerik nvarchar(250),
    @RestoranID int,
    @KategoriID int
as
begin
    insert into tbl_Yemekler (YemekAdi, Fiyat, Icerik, RestoranID,KategoriID, AktifMi)
    values (@YemekAdi, @Fiyat, @Icerik, @RestoranID,@KategoriID, 1)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_YemekSil]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--yemek silme işlemi
create procedure [dbo].[sp_YemekSil]
    @YemekID int
as
begin
    update tbl_Yemekler set AktifMi=0
    where YemekID=@YemekID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_YorumAktifEt]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_YorumAktifEt]
    @YorumID int
as
begin
    update tbl_Yorumlar
    set AktifMi = 1
    where YorumID = @YorumID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_YorumSil]    Script Date: 28.12.2025 15:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--yorum silmek için
create procedure [dbo].[sp_YorumSil]
    @YorumID int
as
begin
    update tbl_Yorumlar
    set AktifMi = 0 
    where YorumID = @YorumID
end
GO
USE [master]
GO
